@model lakberendezo.Models.RoomModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Room sizes</title>
</head>
<body>
    <h1>Enter the size of the room</h1>
    
</body>
</html>
